.menulist {
	display: block;
	text-align: center;
	color: tomato;
	padding: 15px;
}

.fontstyle {
	font-size: 35px;
	background-color: lightgrey;
}

#cat {
	color: wheat;
}


p {
	color:tomato;
}
h3 {
	font-size:200%;
	padding:20px;
}

a:link {
	color:red;
	text-decoration: none;
}

a:visited {
	color:green;
	text-decoration: none;
}

a:hover {
	color:black;
	text-decoration: underline;
}

a:focus {
	color: black;
	text-decoration: underline;
}
